<section>
  <div class="relative">
    <img
      class="h-[24vh] w-[100vh]"
      src="https://media.istockphoto.com/id/1409730005/photo/chef-cooking-at-a-restaurant-and-flaming-the-food.jpg?s=1024x1024&w=is&k=20&c=KvPvEJruhwHuUk1RuzwZwgyfUajtFt_F_-r5uDhgflc="
    />
    <div class="absolute top-16 right-5 flex gap-2">
      <span
        (click)="handleSearchClick(restaurant)"
        class="bg-slate-500 rounded-full opacity-60"
        ><img class="h-14 p-3" src="/assets/icons/search-icon-white.jpg"
      /></span>
      <span class="bg-slate-500 rounded-full opacity-60"
        ><img class="h-14 p-3" src="/assets/icons/white-heart.png"
      /></span>
      <span class="bg-slate-500 rounded-full opacity-60"
        ><img class="h-14 p-3" src="/assets/icons/three-dots.png"
      /></span>
    </div>
    <span
      (click)="handleBackClick()"
      class="absolute bg-slate-500 rounded-full opacity-60 top-16 left-5"
      ><img class="h-14 p-3" src="/assets/icons/left-arrow.png"
    /></span>
  </div>

  <div calss="flex flex-col items-center justify-center">
    <h1 class="text-center mt-3 text-3xl font-black">{{ restaurant?.name }}</h1>

    <div class="flex justify-center min-w-[100vw]">
      <span
        class="p-2 min-w-[52vw] rounded-2xl bg-slate-200 font-bold flex gap-1 m-2 justify-center text-2xl"
        ><img class="h-6" src="/assets/icons/like.png" />{{ restaurant?.like }}.
        1.4mi</span
      >
    </div>

    <div *ngIf="!mode" class="flex justify-center min-w-[100vw]">
      <span
        class="p-2 min-w-[55vw] rounded-3xl bg-slate-200 flex gap-1 m-2 justify-center text-2xl"
      >
        <span (click)="deliveryMode()" class="pl-2 pt-2"> Delivery </span>
        <span class="pr-2">
          <h1 class="bg-white rounded-3xl pl-2 pr-2 pt-2">Pickup</h1>
        </span>
      </span>
    </div>

    <div *ngIf="mode" class="flex justify-center min-w-[100vw]">
      <span
        class="p-2 min-w-[55vw] rounded-3xl bg-slate-200 flex gap-1 m-2 justify-center text-2xl"
      >
        <span class="pr-2">
          <h1 class="bg-white rounded-3xl pl-2 pr-2 pt-2">Delivery</h1>
        </span>
        <span (click)="pickupMode()" class="mr-4 pt-2"> Pickup </span>
      </span>
    </div>

    <div *ngIf="mode">
      <div
        class="flex m-3 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.3)] justify-center items-center min-w-[60vw]"
      >
        <span
          class="p-2 min-w-[90vw] min-h-[15vh] flex gap-1 m-1 justify-between items-center text-2xl"
        >
          <span class="text-center">
            <div>$1.49 Delivery Fee</div>
            <div>Pricing and Fees</div>
          </span>
          <span class="text-center">
            <div>30 min</div>
            <div>Delivery Time</div>
          </span>
        </span>
      </div>
    </div>

    <div *ngIf="!mode">
      <div
        class="flex m-3 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.3)] justify-center items-center min-w-[60vw]"
      >
        <span
          class="p-2 min-w-[90vw] min-h-[15vh] flex gap-1 m-1 justify-between items-center text-2xl"
        >
          <span class="text-center">
            <div>$0.00</div>
            <div>Pricing and Fees</div>
          </span>
          <span class="text-center">
            <div>15 min</div>
            <div>Pickup Time</div>
          </span>
        </span>
      </div>
    </div>
  </div>
</section>
