<section>
    <div class="relative">
        <img class="" src='https://media.istockphoto.com/id/1409730005/photo/chef-cooking-at-a-restaurant-and-flaming-the-food.jpg?s=1024x1024&w=is&k=20&c=KvPvEJruhwHuUk1RuzwZwgyfUajtFt_F_-r5uDhgflc='>
        <div class="absolute top-5 right-5 flex gap-5">

            <span><img class="h-10" src="/assets/icons/search-icon-white.jpg"></span>
            <span><img class="h-10" src="/assets/icons/white-heart.png"></span>
            <span><img class="h-10" src="/assets/icons/three-dots.png"></span>
        </div>
        <span class="absolute top-5 left-5"><img class="h-8" src="/assets/icons/left-arrow.png"></span>
    </div>

    <div calss="flex flex-col items-center justify-center">
        <h1 class="text-center mt-3 text-3xl font-black">Barano NYC</h1>

        <div class="flex justify-center min-w-[100vw]"><span class="p-2 max-w-[50vw] rounded-2xl bg-slate-200 font-bold flex gap-1 m-2 justify-center text-2xl"><img class="h-6" src="/assets/icons/like.png">4.4k . 1.4mi</span></div>

            <div class="flex justify-center min-w-[100vw]">
                <span class="p-2 max-w-[50vw] rounded-2xl bg-slate-200 flex gap-1 m-2 justify-center text-2xl">
                    <span class="font-bold pr-2">
                        Delivery
                    </span>
                    <span>
                        Pickup
                    </span>
                </span></div>
            <div class="flex justify-center min-w-[100vw]">
                <span class="p-2 min-w-[90vw] rounded-2xl flex gap-1 m-2 justify-between text-2xl">
                    <span class="text-center">
                        <div>
                            1.49 Delivery Fee
                        </div>
                        <div>
                            Pricing and Fees
                        </div>

                    </span>
                    <span class="text-center">
                        <div>
                            30 min
                        </div>
                        <div>
                            Delivery Time
                        </div>
                    </span>
                </span>
            </div>

    </div>



</section>