<section class = "mx-[5vw] mt-[5vh]">
    <form class="w-[90vw]" [formGroup]="addressForm" (ngSubmit)="handleNextClick()">
      <h3 class="mt-[4vh] text-xl font-bold">Addresses</h3>

        <div class="form-control w-[90vw]">

          <input
            type="text"
            placeholder="address"
            class="input mt-[4vh] w-full border-black"
            formControlName="address"
            [class.input-error]="isFieldInvalid('address')"
            required
          />
          <!-- Invalid Form Input -->
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error"
              *ngIf="isFieldInvalid('address')"
              class="text-error"
              >*Invalid Address</span
            >
          </label>
        </div>

        <div class="text-end mt-2 w-full">
          <button
            class="btn bg-black text-white px-6 mt-[60vh]"
            [disabled]="
              isFieldInvalid('address') ||
              !addressForm.get('address')?.valid
            "
          >
            Save
          </button>
        </div>
    </form>
  </section>
