<div class="relative mt-2">
    <h1 class="text-2xl pt-4 font-bold text-center">Your order</h1>
    <img class="h-5 absolute left-5 top-6" (click)="handleback()" src="/assets/icons/left-arrow-black.png">
</div>

<div class="mt-32 text-center">
    <h1 class="text-2xl font-normal">Estimated time of delivery</h1>
    <h1 class="text-3xl font-black">18:00 - 18:10</h1>
</div>

<div>
    <img class="h-48 ml-10 mt-10" src="/assets/icons/order_status.gif">
</div>

<div class="mt-24 flex gap-3 justify-center">
    <div [ngStyle]="{'background-color': orderStatus === 'pending' ? 'green' : '#D3D3D3'}" class="h-2 w-[20vw]"></div>
    <div [ngStyle]="{'background-color': orderStatus === 'preparing' ? 'green' : '#D3D3D3'}" class="h-2 w-[20vw]"></div>
    <div [ngStyle]="{'background-color': orderStatus === 'ready' ? 'green' : '#D3D3D3'}" class="h-2 w-[20vw]"></div>
    <div [ngStyle]="{'background-color': orderStatus === 'completed' ? 'green' : '#D3D3D3'}" class="h-2 w-[20vw]"></div>
</div>

<h1 class="text-2xl text-center mt-10">{{orderStatus}}</h1>