<div class="relative mt-2">
    <h1 class="text-2xl pt-4 font-bold text-center">Date Of Birth</h1>
    <img onclick="javascript:history.go(-1)" class="h-5 absolute left-5 top-6" src="/assets/icons/left-arrow-black.png">
</div>

<section class="mx-[5vw] mt-[5vh]">
    <form [formGroup]="dateOfBirthForm" (ngSubmit)="handleNextClick()">

        <input formControlName="date" class="border px-14 py-2 rounded-md block mx-auto mt-20" type="date" name=""
            id="">

        <div class="text-end mt-2 w-full">
            <button class="btn bg-black text-white px-6 mt-[60vh]" [disabled]="
                isFieldInvalid('password') ||
                !dateOfBirthForm.get('date')?.valid
                ">
                Next
            </button>
        </div>
    </form>

</section>