<!-- ! Header -->
<div class="overflow-y-auto">
  <!-- <app-header></app-header> -->
  <div class="mb-16" [ngClass]="{ 'z-index': zIndex }">
    <!-- Delivery Address -->
    <app-address></app-address>
    <!-- ! Search Box -->
    <app-search (click)="handleSearchClick()"></app-search>

    <!-- ! Categories -->
    <app-category-list
      [filters]="filters"
      [(restaurants)]="restaurants"
    ></app-category-list>

    <app-filter
      [(priceDisplay)]="priceDisplay"
      [(feeDisplay)]="feeDisplay"
      [(likeDisplay)]="likeDisplay"
    ></app-filter>

    <!-- Search cuisine restaurants -->
    <app-result-restaurant
      *ngIf="searchStatus"
      [restaurants]="restaurants"
    ></app-result-restaurant>

    <!-- ! Restaurant Category with Restaurant -->

    <app-restaurants-by-category
      *ngFor="let category of categories"
      [category]="category"
    ></app-restaurants-by-category>

    <!-- ! All dilevery restaurants -->

    <app-category-restaurant-grid
      [restaurants]="allRestaurants"
    ></app-category-restaurant-grid>

    <!-- ! Bottom Menu -->
    <app-bottom-menu></app-bottom-menu>
  </div>

  <!-- Price filter -->
  <div *ngIf="priceDisplay">
    <app-price-filter></app-price-filter>
  </div>
  <!-- Delivery fee filter -->
  <div *ngIf="feeDisplay">
    <app-fee-filter></app-fee-filter>
  </div>
  <!-- Like filter -->
  <div *ngIf="likeDisplay">
    <app-like-filter></app-like-filter>
  </div>
  <!-- <app-like-filter  [ngClass]="{'z-index': lIndex}"></app-like-filter>  -->
</div>

<!-- [handlePrice]="handlePrice" [handleDeliveryFee]="handleDeliveryFee" [handleLike]="handleLike" -->
