<!-- ! Header -->
<div class=" overflow-y-auto">
    <!-- <app-header></app-header> -->
    <div class="mb-16" [ngClass]="{'z-index': zIndex}">
      <!-- Delivery Address -->
      <app-address></app-address>
      <!-- ! Search Box -->
      <app-search (click)="handleSearchClick()"></app-search>

      <!-- ! Categories -->
      <app-category-list [handleCuisine]="handleCuisine" [filters]="filters"></app-category-list>

      <app-filter [(priceDisplay)]="priceDisplay" ></app-filter>

      <!-- ! Restaurant Category with Restaurant -->

      <app-restaurants-by-category *ngFor="let category of categories" [category]="category"></app-restaurants-by-category>

      <!-- ! All dilevery restaurants -->

      <app-category-restaurant-grid [restaurants]="restaurants"></app-category-restaurant-grid>

      <!-- ! Bottom Menu -->
      <app-bottom-menu></app-bottom-menu>
    </div>

    <!-- Price filter -->
    <div *ngIf="priceDisplay">
      <app-price-filter  ></app-price-filter>
    </div>
    <!-- Delivery fee filter -->
    <!-- <app-fee-filter  [ngClass]="{'z-index': fIndex}"></app-fee-filter> -->

    <!-- Like filter -->
    <!-- <app-like-filter  [ngClass]="{'z-index': lIndex}"></app-like-filter>  -->

  </div>



  <!-- [handlePrice]="handlePrice" [handleDeliveryFee]="handleDeliveryFee" [handleLike]="handleLike" -->