
<div class="h-[37vh] min-w-[30vh]">
    <div class="gap-6 flex justify-between ml-5 mr-4">
        <div class="border-color border-8 rounded-full min-h-[20vh] min-w-[20vh] max-h-[20vh] max-w-[20vh] mt-[260px]" (click)="handleDeliveryClick()">
            <img class="h-[50%] w-[50%] mt-4 ml-9" src="/assets/icons/home-delivery.png">
            <h1 class="font-bold text-lg text-center">Delivery</h1>
        </div>

        <div class="border-color border-8 rounded-full min-h-[20vh] min-w-[20vh] max-h-[20vh] max-w-[20vh] mt-[260px]"(click)="handlePickupClick()">
            <img class="h-[50%] w-[50%] mt-4 ml-11" src="/assets/icons/walk.png">
            <h1 class="font-bold text-lg text-center">Pickup</h1>
        </div>
    </div>
</div>
<div class="mt-[50px] flex justify-center h-[48vh]">
    <div class="border-color border-8 rounded-full min-h-[20vh] min-w-[20vh] max-h-[20vh] max-w-[20vh] mt-[30px]" (click)="handleResrvationClick()">
        <img class="h-[40%] w-[40%] mt-6 ml-12"  src="/assets/icons/reservation.png">
        <h1 class="font-bold text-lg text-center">Reservation</h1>
    </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#00cba9" fill-opacity="1" d="M0,32L80,53.3C160,75,320,117,480,117.3C640,117,800,75,960,85.3C1120,96,1280,160,1360,192L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
