<section>
    <div class="flex justify-between">
      <span><h3 class="font-uberMove font-bold text-2xl capitalize mt-8 mb-4 pl-4">Featured Items</h3></span>
    </div>



  <div
    class="py-2 flex flex-row flex-grow gap-5 justify-start items-center overflow-x-auto product-list px-4"
  >
    <!-- <div
      class="flex justify-center items-center w-full h-full"
      *ngIf="isLoading"
    >
      <div class="loading loading-bars text-primary loading-lg"></div>
    </div> -->
    <!-- <ng-template> -->
      <!-- <app-product
        *ngFor="let restaurant of restaurants"
        [product]="restaurant"
      ></app-product> -->
    <!-- </ng-template> -->
    <div *ngFor="let restaurant of restaurants">
      <div
class=" card card-compact w-96 bg-base-100 shadow-md max-h-[220px] max-w-[150px] min-w-[150px] min-h-[220px]"
>
<div class="relative">
  <figure>
    <img
      src="{{ restaurant.image }}"
      alt="Shoes"
      class="rounded-3xl max-h-[150px] min-w-[150px]"
    />
  </figure>

  <div class="p-0 m-0 gap-0">

      <h2 class="card-title text-lg font-uberMove">{{ restaurant.name }}</h2>

    <h5>$0.59</h5>
  </div>
  <span class="absolute bottom-16 right-2"><img class="h-12 bg-white rounded-full" src="/assets/icons/plus.png"></span>
</div>

</div>
    </div>
  </div>
</section>