<div class="relative mt-2">
    <h1 class="text-2xl pt-4 font-bold ml-20">Addresses</h1>
    <img (click)="back()" class="h-5 absolute left-5 top-5"  src="/assets/icons/left-arrow-black.png">
</div>

<div (click)="handleAddressDetails()" class="h-12 w-[92vw] bg-slate-200 rounded-2xl ml-4 mt-10 flex">
    <img class="h-10 ml-2 pt-3" src="/assets/icons/browse.png">
    <h1 class="opacity-60 p-3">Search for an address</h1>
</div>


<h1 class="text-2xl mt-48 ml-4 font-black">Time Preference</h1>

<div (click)="handleSchedule()" class="flex justify-between mt-6 ml-4 mr-4 mb-2">
    <div class="flex gap-4">
        <img class="h-6" src="/assets/icons/delivery-time.png">
        <h1 class="text-xl font-semibold">Select a time</h1>
    </div>
    <div class="h-7 w-[30vw] bg-slate-200 rounded-xl">
        <h1 class="text-xl text-center font-bold">Schedule</h1>
    </div>
</div>

<div class="shadow-[#DCDCDC_0px_2px_0px_0px] h-2"></div>