<div
  class=" flex flex-row flex-grow gap-5 justify-start items-center overflow-x-auto category p-2"
>

    <article
      class="text-center rounded-3xl    min-w-[100px]  bg-slate-200 flex  justify-center items-center p-2 text-[12px] gap-1 hover:bg-secondaryLime cursor-pointer"
      (click)="handlePriceClick()"
    >

    <span><h3 class="font-bold font-uberMove text-lg">Price</h3></span><span><img class="h-6" src="/assets/icons/dropdown-arrow.png"></span>
    </article>

    <article
      class="text-center  rounded-3xl    min-w-[150px]  bg-slate-200 flex justify-center items-center p-2 text-[12px] gap-1 hover:bg-secondaryLime cursor-pointer"
      (click)="handleFeeClick()"
    >
    <span><h3 class="font-bold font-uberMove text-lg">Delivery Fee</h3></span><span><img class="h-6" src="/assets/icons/dropdown-arrow.png"></span>
    </article>

    <article
      class="text-center  rounded-3xl    min-w-[100px]  bg-slate-200 flex justify-center items-center p-2 text-[12px] gap-1 hover:bg-secondaryLime cursor-pointer"
      (click)="handleLikeClick()"
    >
    <span><h3 class="font-bold font-uberMove text-lg">Like</h3></span><span><img class="h-6" src="/assets/icons/dropdown-arrow.png"></span>
    </article>
</div>



