<section class = "mx-[5vw] mt-[5vh]">
    <form class="w-[90vw]" [formGroup]="passwordForm" (ngSubmit)="handleNextClick()">
      <h3 class="mt-[4vh] text-xl font-bold">Enter your password.</h3>

        <div class="form-control w-[90vw]">

          <input
            type="password"
            placeholder="password"
            class="input mt-[4vh] w-full border-black"
            formControlName="password"
            [class.input-error]="isFieldInvalid('password')"
            required
          />
          <!-- Invalid Form Input -->
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error"
              *ngIf="isFieldInvalid('password')"
              class="text-error"
              >*Invalid Password</span
            >
          </label>
        </div>

        <div class="text-end mt-2 w-full">
          <button
            class="btn bg-black text-white px-6 mt-[60vh]"
            [disabled]="
            isFieldInvalid('password') ||
            !passwordForm.get('password')?.valid
            "
          >
            Next
          </button>
        </div>
    </form>
  </section>
