<div class="relative mt-2">
  <h1 class="text-2xl pt-4 font-bold text-center"> </h1>
  <img (click)="back()" class="h-5 absolute left-5 top-6" src="/assets/icons/left-arrow-black.png">
</div>


<section class="mx-[5vw] mt-[10vh]">
  <form class="w-[90vw]" [formGroup]="passwordForm" (ngSubmit)="handleNextClick()">

    <!-- New Password -->
    <h3 class="mt-[4vh] text-xl font-bold">New password.</h3>

    <div class="form-control w-[90vw]">

      <input type="password" placeholder="new password" class="input mt-[2vh] w-full border-black"
        formControlName="newPassword" [class.input-error]="isFieldInvalid('password')" required />
      <!-- Invalid Form Input -->
      <label class="label">
        <span class="label-text-alt"></span>
        <span class="label-text-alt text-error" *ngIf="isFieldInvalid('password')" class="text-error">*Invalid
          Password</span>
      </label>
    </div>


    <!-- Confirm Password -->
    <h3 class="mt-[1vh] text-xl font-bold">Confirm password.</h3>

    <div class="form-control w-[90vw]">

      <input type="password" placeholder="confirm password" class="input mt-[2vh] w-full border-black"
        formControlName="confirmPassword" [class.input-error]="isFieldInvalid('password')" required />
      <!-- Invalid Form Input -->
      <label class="label">
        <span class="label-text-alt"></span>
        <span class="label-text-alt text-error" *ngIf="isFieldInvalid('password')" class="text-error">*Invalid
          Password</span>

        <span class="label-text-alt text-error" *ngIf="isNotMatched" class="text-error">*Password doesn't match.</span>

      </label>
    </div>


    <!-- next button -->
    <div class="text-end mt-1 w-full">
      <button class="btn bg-black text-white px-6 mt-[50vh]" [disabled]="
            isFieldInvalid('newPassword') ||
            !passwordForm.get('newPassword')?.valid ||
            isFieldInvalid('confirmPassword') ||
            !passwordForm.get('confirmPassword')?.valid
            ">
        Next
      </button>
    </div>
  </form>
</section>