

<section class="mt-[1vh] px-4 pb-2">
    <div class="relative">
      <input
        #searchRestaurant
        type="text"
        placeholder="Search"
        class="input input-bordered border-black w-full rounded-3xl"
        
      />
      <button>
        <img
          src="/assets/icons/search.svg"
          alt="search icon"
          class="absolute top-1/2 transform -translate-y-1/2 right-3"
        />
      </button>
    </div>
</section>


<!-- (input)="searchRestaurant($event.target.value)" -->